@tailwind base;
@tailwind components;
@tailwind utilities;


.fullcenter{
  @apply flex flex-col justify-center items-center;
}

.commonwidth{
  @apply w-11/12 lg:w-10/12 2xl:w-9/12 mx-auto;
}

.gbg{
  background: rgba(5,50,169,1);
background: linear-gradient(331deg, rgba(43,146,213,1) 0%, rgba(5,50,169,1) 49%);
}

.updown{
  animation: updown 5s infinite;
}

@keyframes updown{

  0%{
    transform: translateY(-10px)
  }
  50%{
    transform: translateY(15px)
  }
  100%{
    transform: translateY(-10 px)
  }
}

.hero-link{
  @apply px-5 py-3 border cursor-pointer text-xs lg:text-base text-white hover:bg-opacity-80 duration-300;
}